
body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.landing-container {
    width: 90%;
    max-width: 1000px;
    text-align: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
}



.logo img {
    width: 160px;
    margin-right: 10px;
    height: 60px;
    
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #3B2F2F;
}

.btn-login {
        background-color: #6d4c41; 
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        transition: 0.3s;
    }
    .button:hover {
        background-color: #5a3a31;
    }

.btn-login:hover {
    background-color: #a18d75;
}


.address {
    background: white;
    padding: 3px;
    border-radius: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}


.facilities {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.facilities span {
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    min-width: 160px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.role-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #f9f9f9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.role-btn:hover {
    background: #ddd;
}



/* CSS LOGIN */
body {
    background-color: #c1af9d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 600px;
    background: #c1af9d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 600px;
    height: auto;    
}

.login-header img {
    width: 200px; 
    height: auto;
    display: block; 
}



.login-box {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}


.login-button {
    background-color: #b19e86;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.login-button:hover {
    background-color: #a18d75;
}

/* register */
.register-container {
    width: 600px;
    background: #c1af9d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.register-container img {
    width: 200px; 
    height: auto;
    margin-bottom: 10px;
}

.register-header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #3B2F2F;
    margin-top: 10px;
}

.register-box {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #a38c6f;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.register-button:hover {
    background-color: #8a7256;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #5d4632;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .badge {
        min-width: 120px;
        font-size: 14px;
    }
}

